<div class="container">
    <div class="row justify-content-center">
        <p class="heading">Войдите в ваш аккаунт</p>
        <div class="col-4">
            <div class="wrap">
                <div class="auth-box">
                    <p class="login">Логин</p>
                    <input type="text" class="login-input">
                    <p class="password">Пароль</p>
                    <input type="password" class="password-input">
                    <div class="quick-block align-items-center d-flex justify-content-between">
                        <label class="quick-span"><input type="checkbox" class="quick-check" name="Быстрая сессия" id="">Быстрая сессия</label>
                        <button routerLink="/registration" class="reg">Зарегистрироваться</button>
                    </div>
                    <button class="auth">Вход</button>
                    <p class="line">Или войти через</p>
                    <button class="auth-github"><img class="auth-github_image" src="../../assets/svg/github.svg" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</div>