<div class="wrap-outside">
    <div class="container">
        <div class="nav_bar d-flex justify-content-between">
            <ul class="nav_main-link col">
                <li><a  routerLink="/">Foodie</a></li>
            </ul>
            <ul class="nav_block-one col">
                <li><a routerLink="/">Главная</a></li>
                <li><a routerLink="/recipes">Каталог рецептов</a></li>
            </ul>
            <ul class="nav_block-two col d-flex justify-content-right">
                <li class="nav_block-two_edit"><a class="" href=""></a></li>
                <li class="nav_block-two_profile">
                    <button>
                        <img src="" alt="">
                        <div class="nav_block-two_profile-data">
                            <p class="profile-data_name">Name</p>
                            <p class="profile-data_type">User</p>
                        </div>
                    </button>
                <li class="nav_block-two_button"><a routerLink='/authorization'>Вход в аккаунт</a></li>
            </ul>
        </div>
    </div>
</div>
