<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65">
<div class="container d-flex p-3">
  <button (click)="notiflix_alert('warning')">Notify Warning</button>
  <button (click)="notiflix_alert('success')">Notify Success</button>
  <button (click)="notiflix_alert('error')">Notify Error</button>
  <button (click)="notiflix_alert('info')">Notify Info</button>
</div>
<div class="container p-3">
  <div *ngFor="let alert of alerts">
    <alert
      [type]="alert.type"
      [dismissible]="dismissible"
      (onClosed)="onClosed(alert)"
      >{{ alert.msg }}</alert
    >
  </div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="dismissible = !dismissible"
  >
    Toggle dismissible
  </button>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</div>