<div class="container">
    <div class="row justify-content-center">
        <p class="heading">Зарегистрируйте ваш аккаунт</p>
        <div class="col-4">
            <div class="wrap">
                <div class="auth-box">
                    <p class="login">Логин</p>
                    <input type="text" class="login-input">
                    <p class="password">Пароль</p>
                    <input type="password" class="password-input">
                    <p class="login">Имя</p>
                    <input type="text" class="login-input">
                    <p class="login">Фамилия</p>
                    <input type="text" class="login-input">
                    <p class="login">Отчество (при наличии)</p>
                    <input type="text" class="login-input">
                    <button class="auth">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
</div>